.form-answers {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__form {
        max-width: 800px;
        width: 100%;
        border: 1px solid #673ab7;
        border-radius: 8px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        a {
            width: fit-content;
            margin-right: auto;
        }

        p {
            word-wrap: break-word;
        }
    }

    &__question {
        font-size: 18px;
        font-weight: 600;
    }

    &__answer {
        font-size: 12px;
        margin-left: 5px;
    }
}